@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  font-size: 16px;
}

* {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .body-container {
    margin: 0 2rem;
  }
}
@media (max-width: 768px) {
  .body-container {
    margin: 0;
  }
}
.header {
  border-bottom: 1px solid #fff;
  padding: 1.5rem;
  background-color: black;
  position: sticky;
  top: 0;
}
.header__ico {
  color: white;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.header__nav {
  display: flex;
}
.header__ttl {
  margin-right: auto;
}
.header__ttl--clr1 {
  color: red;
}
.header__ttl--clr2 {
  color: white;
}

.herobanner {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.herobanner__logo {
  width: 100%;
  height: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.herobanner__heading {
  display: flex;
  background-color: #694b16;
  padding: 0.3rem;
}
.herobanner__exp {
  text-align: center;
  line-height: 2;
  font-size: 1.5rem;
  color: white;
}
.herobanner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .herobanner {
    flex-direction: row;
    height: 20rem;
  }
  .herobanner__logo {
    width: 30%;
  }
  .herobanner__heading {
    flex-direction: column;
    width: 100%;
  }
  .herobanner__img {
    height: 16rem;
  }
}
@media (max-width: 768px) {
  .herobanner__heading {
    height: 9.2rem;
  }
  .herobanner__img {
    height: 8.5rem;
    width: 110%;
  }
}
.article {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  margin-top: 3rem;
  background-image: url(../assets/img/main/background-main-article.jpg);
}
.article__ttl {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.article__txt {
  color: #fff;
  font-size: 1.25rem;
  margin: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 30%;
  height: 22rem;
  padding-top: 1rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
  background: #fff;
}
.card__img {
  height: 100%;
  margin: 0 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 1rem 1rem 0 0;
}
.card__ttl {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    margin: 1rem;
  }
}
.footer {
  display: flex;
}
.footer__lst {
  display: flex;
}
.footer__lnk {
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
  background-color: #191a1c;
}
.login__ttl {
  text-align: center;
  margin-bottom: 5rem;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 1rem;
}
.login__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.login__lst {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.login__lnk {
  text-decoration: underline;
  padding: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191a1c;
}
.form__input {
  display: flex;
  width: 40%;
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .form__input {
    width: 80%;
  }
}
.social {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  background-color: #191a1c;
}
.social__lnk {
  margin: 1rem;
}

.page {
  border: 10px solid white;
}/*# sourceMappingURL=styles.css.map */