@import './variables';

.article {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  margin-top: 3rem;
  background-image: url(../assets/img/main/background-main-article.jpg);
  background-attachment: fixed;

  &__ttl {
    color: $article-txt;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    font-size: 2.5rem;
    background-color: black;
  }

  &__txt {
    color: $article-txt;
    font-size: 1.25rem;
    margin: 2rem;
  }
}

.card-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width:768px) {

  .article{
    border-radius: 0;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 22rem;
  padding-top: 1rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 3rem;
  background: $card-bkg;
  box-shadow: 22px 11px 50px 6px #000000;

  &__img {
    height: 100%;
    margin: 0 1rem;
    object-fit: cover;
    // object-position: top;
    border-radius: 1rem 1rem 0 0;
  }

  &__ttl {
    color: $form-ttl ;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem;
  }
}

@media (min-width:768px) {

  .article{
    &__ttl{
      width: 30%;
    }
  }

  .card{
    width: 30%;
  }
}