.article {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  margin-top: 3rem;
  background-image: url(../assets/img/main/background-main-article.jpg);

  &__ttl {
    color: $article-txt;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
  }

  &__txt {
    color: $article-txt;
    font-size: 1.25rem;
    margin: 2rem;
  }
}

.card-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width:768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 30%;
  height: 22rem;
  padding-top: 1rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
  background: $article-txt;

  &__img {
    height: 100%;
    margin: 0 1rem;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem 1rem 0 0;
  }

  &__ttl {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width:768px) {
  .card {
    width: 90%;
    margin: 1rem;
  }
}