@import './variables';

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

    &__ttl{
        color: $form-ttl;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    &__container{
        display: flex;
        flex-direction: column;
        margin: 0 5rem  0 5rem ;
    }

    &__logo{
        height: 30rem;
        width: 20rem;
        margin-right: auto;
        margin-left: auto;
        object-fit: contain;
      }
    
    &__label{
        font-size: 2rem;
        color: white;
        margin-top: 1rem;
    }

    &__btn{
        background: green;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 2rem;
        width: 50%;
        border-radius: 3rem;
        height: 3rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__lnk{
        margin-top: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: blue;
        margin-left: auto;
    }


    }

    @media (max-width:768px) {
        .form{
            width: auto;
        }
    }

