// variables import 


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: calc(0.5rem + 1.5vw);

  &__lst {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  &__ico {
    cursor: pointer;
    display: none;

    &::before {
      content: "\2630";
      color: white;
    }
  }

  &__lnk {
    padding: 1rem;

    &:hover {
      background: rgb(157, 217, 240);
    }
  }
}

@media (max-width: 768px) {
  .nav {
    &__lst {
      position: fixed;
      left: -100%;
      top: 22%;
      flex-direction: column;
      background: skyblue;
      width: 100%;
      text-align: center;
      transition: 0.25s;
    }

    &.active &__lst {
      left: 0;
    }

    &__ico {
      display: block;

      &::before {
        content: "\2630";
        color: white;
      }

      &.active::before {
        content: "\2715";
        color: white;
      }
    }

    &.active &__lnk {
      left: 0;
    }
  }
}


