@import './variables';



.header {
    border-bottom: 1px solid $article-txt;
    padding: 1.5rem;
    background-color: $header-bkg;
    position: sticky;
    top: 0;
    opacity: 0.9;
    

    &__ico {
        color: $logo2;
        font-size: 2rem;
        margin-right: 1.5rem;
    }

    &__nav {
        display: flex;
    }

    &__ttl {
        font-size: 2rem;
        margin-right: auto;
        text-decoration: none;

        &--clr1 {
            color: $logo1;
        }

        &--clr2 {
            color: $logo2;
        }
    }
}

@media (max-width:768px) {
    .header{
        padding: 2rem 0 2rem 0;
        &__ico{
            margin-right: 1rem;
        }
    }
}