@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import '_variables';
:root {
    font-size: 16px;
}


* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: $main-bkg;
}

ul,li,a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}
