//------------------------------------------ MAIN -------------------------------------------------------------

//---- BODY COLORS ------

$main-bkg: #3a2009;
$login-bkg:#191a1c;

// HEADER COLORS

$logo1: red;
$logo2: white;
$header-bkg: black;

//------HEADING ------

$heading-bkg: black;

//------- ARTICLES/CARDS -------

$article-txt: #fff;
$card-bkg: maroon;
$card-ttl: #fff;

// ----- FORM ---------

$form-ttl: #fff;

