//------------------------------------------ MAIN -------------------------------------------------------------

//---- BODY COLORS ------

$main-bkg: #2D2616;

// HEADER COLORS

$logo1: red;
$logo2: white;
$header-bkg: black;

//------HEADING ------

$heading-bkg: #694b16;